// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.social-btn {
  color: #00bbb;
  height: 20px;
  padding: 3 3 3 3;
  width: 120xx;
  text-align: center;
}
